step-function/bookverse-order-workflow.asl.json
{
  "Comment": "BookVerse order workflow - validate order, process payment, complete order",
  "StartAt": "ValidateOrder",
  "States": {
    "ValidateOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:649418801823:function:ValidateOrder",
      "ResultPath": "$",
      "Next": "ProcessPayment"
    },
    "ProcessPayment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:649418801823:function:ProcessPayment",
      "ResultPath": "$",
      "Next": "CompleteOrder"
    },
    "CompleteOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:649418801823:function:CompleteOrder",
      "ResultPath": "$",
      "End": true
    }
  }
}
